<form id="form_contact" class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <label for="name" class="input_container" [ngClass]="contactForm.get('name')?.touched ? (contactForm.get('name')?.errors?.['required'] || contactForm.get('name')?.errors?.['minlength'] ? 'invalid' : 'valid') : ''">
    <input type="name" autocomplete="off" id="name" name="name" placeholder="NAME" formControlName="name">
    <span class="error_return" *ngIf="contactForm.get('name')?.errors?.['required'] && contactForm.get('name')?.touched">Sorry, this field is required</span>
    <span class="error_return" *ngIf="contactForm.get('name')?.errors?.['minlength'] && contactForm.get('name')?.touched">Sorry, this field require at least 3 characters</span>
    <mat-icon class="form-icons" *ngIf="contactForm.get('name')?.errors && contactForm.get('name')?.touched" fontIcon="error_outlined" />
  </label>

  <label for="email" class="input_container" [ngClass]="contactForm.get('email')?.touched ? (contactForm.get('email')?.errors?.['required'] || contactForm.get('email')?.errors?.['email'] ? 'invalid' : 'valid') : ''">
    <input type="email" autocomplete="off" id="email" name="email" placeholder="EMAIL" class="form-control" formControlName="email">
    <span class="error_return" *ngIf="contactForm.get('email')?.errors?.required && contactForm.get('email')?.touched">Sorry, this field is required</span>
    <span class="error_return" *ngIf="contactForm.get('email')?.errors?.email && contactForm.get('email')?.touched">Sorry, invalid format here</span>
    <mat-icon class="form-icons" *ngIf="contactForm.get('email')?.errors && contactForm.get('email')?.touched" fontIcon="error_outlined" />
  </label>

  <label for="message" class="input_container" [ngClass]="contactForm.get('message')?.touched ? (contactForm.get('message')?.errors?.['required'] || contactForm.get('message')?.errors?.['minlength'] ? 'invalid' : 'valid') : ''">
    <textarea id="message" autocomplete="off" name="message" placeholder="MESSAGE" class="form-control" formControlName="message" rows="3"> </textarea>
    <span class="error_return" *ngIf="contactForm.get('message')?.errors?.required && contactForm.get('message')?.touched">Sorry, this field is required</span>
    <span class="error_return" *ngIf="contactForm.get('message')?.errors?.['minlength'] && contactForm.get('message')?.touched">Sorry, this field require at least 10 characters</span>
    <mat-icon class="form-icons" *ngIf="contactForm.get('message')?.errors && contactForm.get('message')?.touched" fontIcon="error_outlined" />
  </label>

  <button class="form_button" type="submit" [disabled]="!contactForm?.valid">Send Message</button>
</form>
