<div class="project-card">
  <img [src]="project.image" alt="project-card" class="project-card-image">
  <div class="project-card-content">
    <h4>{{project.title}}</h4>
    <div class="project-tag_container">
      @for (tag of project.tags; track tag) {
      <span class="project-tag_content">{{tag}}</span>
      }
    </div>
  </div>
  <footer class="project-card_footer">
    <app-button link="{{project.link}}" buttonText="View Project" />
    <app-button link="{{project.github}}" buttonText="View Code" />
  </footer>

</div>
