@use "../../../assets/sass/var" as *;
@use "../../../assets/sass/mixin" as mix;

%projectCardSample{
  width: 100%;
  height: 63.5678392%;
  object-fit: cover;
}

.project-card {
  width: 100%;
  height: 398px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  // MEDIA QUERY

  color: $white;
}

.project-card-image {
  @extend %projectCardSample;
}
img.cover-image {
  width: 0;
  height: 0
}
.project-card-content {
  display: flex;
  flex-direction: column;
  row-gap: 0px;

  h4 {
    @include mix.HeadingM;
  }

  .project-tag_container {
    display: flex;
    gap: 18px;
    color: $grey;

    span {
      @include mix.Body;
      text-transform: uppercase;
    }
  }
}

.project-card_footer {
  display: flex;
  gap: 32px;
}

@include mix.desktop {
  %projectCardSampleDesktop{
    width: 100%;
    height: 82.1355236%;
    object-fit: cover;
  }

  .project-card {
    height: 487px;
    position: relative;
  }

  .project-card-image {
    position: relative;
    opacity: 10%;
    @extend %projectCardSampleDesktop;
  }

  .project-card_footer {
    text-align: center;

    flex-direction: column;
    row-gap: 48px;

    position: absolute;
    z-index: 1;
    top: 41.0677618%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cover-image {
    @extend %projectCardSampleDesktop;
    display: block;
    position: absolute;
    opacity: 100%;
    z-index: 2;
  }
}
