@use "../../../assets/sass/var" as *;
@use "../../../assets/sass/mixin" as mix;

.project-card {
  width: 100%;
  height: 398px;
  /*
  MOBILE: 398
  TABLET: 398
  DESKTOP: 487
  */

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  // MEDIA QUERY

  color: $white;
}

.project-card-image {
  width: 100%;
  height: 63.5678392%;
  // DESKTOP: 82.1355236%
  object-fit: cover;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  row-gap: 0px;

  h4 {
    // HEADING M
    @include mix.HeadingM;
  }

  .project-tag_container {
    display: flex;
    gap: 18px;
    color: $grey;

    span {
      @include mix.Body;
      text-transform: uppercase;
    }
  }
}

.project-card_footer {
  display: flex;
  gap: 32px;
}
