// COLOR
$color-primary: #151515;
$color-secondary: #4EE1A0;
$color-tertiary: #242424;
$color-quaternary: #D9D9D9;
$pure-white: #FFF;


// FONT-SIZE
$font-size-xl: 88px;
$lh-xl: 88px;
$font-size-l: 48px;
$lh-l: 56px;
$font-size-m: 24px;
$lh-m: 32px;
$font-size-body: 18px;
$lh-body: 28px;

// BREAK VIEW SIZE
$break-view-desktop: 1440px;
$break-view-notebook: 1024px;
$break-view-tablet: 768px;
$break-view-mobile: 375px;

// SIZE CONTAINER
$container-desktop: 76.388888889%;
$container-tablet: 82.1875%;
$container-mobile: 91.46666666%;

// MAX SIZE CONTAINER
$max-container-desktop: 1440px;
$max-container-tablet: 1024px;
$max-container-mobile: 708px;
