<header class="header">
  <section class="header-container">
    <span>matheusfernandes</span>
    <nav>
      <a target="_blank" href="https://github.com/xtirian">
        <div class="icon-wrapper"><img class="header-icon" src="assets/images/icons/icon-github.svg" alt="github-icon" /></div>
      </a>
      <a target="_blank" href="https://www.frontendmentor.io/profile/xtirian">
        <div class="icon-wrapper"><img class="header-icon" src="assets/images/icons/icon-frontend-mentor.svg" alt="frontendmentor" /></div>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/profile/mf-cunha/">
        <div class="icon-wrapper"><img class="header-icon" src="assets/images/icons/icon-linkedin.svg" alt="linkedin" /></div>
      </a>
      <a target="_blank" href="https://twitter.com/xTirian">
        <div class="icon-wrapper"><img class="header-icon" src="assets/images/icons/icon-twitter.svg" alt="twitter" /></div>
      </a>
    </nav>
  </section>
</header>
