<footer class="main-footer">
  <section class="main-footer-container">
    <div class="main-footer-wraper">
      <div class="main-footer-content">
        <h3 class="">Contact</h3>
        <p>I would love to hear about your project and how I could help. Please fill in the form, and I’ll get back to you as soon as possible.</p>
      </div>
      <app-form-contact />
    </div>

    <img src="assets/images/bg/pattern-rings.svg" alt="Footer wave" class="footer-wave" class="pattern-footer" />
    <div class="main-footer-footer">
    </div>
  </section>
  <app-header />
</footer>
