@use "../../../assets/sass/var" as *;
@use "../../../assets/sass/mixin" as mix;

.project-container {
  @include mix.Container-Mobile;
}

.header-project {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: $white;
  }
}

.main-project {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(343px, 345px));
  place-content: center;

  gap: 0;

  row-gap: 40px;


}

@include mix.tablet{
  .project-container {
    @include mix.Container-Tablet;
  }
  .header-project {
h3 {
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -2.05px;
    }
  }
  .main-project {
    grid-template-columns: repeat(auto-fill, 345px);
    gap: 20px;
    row-gap: 60px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

@include mix.desktop{
  .project-container {
    @include mix.Container-Desktop;
  }

  .header-project {

    h3 {
      @include mix.HeadingXL
    }
  }

  .main-project {
    grid-template-columns: repeat(auto-fill, 540px);
    gap: 20px;
    row-gap: 69px;
    margin-top: 80px;
    margin-bottom: 139px;
  }
}
