@use "../../../assets/sass/var" as *;
@use "../../../assets/sass/mixin" as mix;

.project-container {
  @include mix.Container-Mobile;
}

.header-project {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    // HeadingM
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: $white;
  }
}

.main-project {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /*
  MOBILE: 343
  TABLET: 345
  DESKTOP: 544
  */
  gap: 0;
  /*
  MOBILE: 0
  TABLET: 22
  DESKTOP: 30
  */

  row-gap: 40px;
  /*
  MOBILE: 40
  TABLET: 60
  DESKTOP: 69 ~nice
  */

}
