@use "../../../assets/sass/var" as *;
@use "../../../assets/sass/mixin" as mix;

.project-container {
  @include mix.Container-Mobile;
}

.header-project {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    // HeadingM
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: $white;
  }
}

.main-project {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(343px, 345px));
  place-content: center;
  /*
  DESKTOP: 544
  */
  gap: 0;
  /*
  DESKTOP: 30
  */

  row-gap: 40px;
  /*
  DESKTOP: 69 ~nice
  */

}

@include mix.tablet{
  .project-container {
    @include mix.Container-Tablet;
  }
  .main-project {
    grid-template-columns: repeat(auto-fill, 345px);
    gap: 20px;
    row-gap: 60px;
  }
}
