@use "../../../assets/sass/var" as *;
@use "../../../assets/sass/mixin" as mix;

.heroBanner-section {
  width: 100%;

  .heroBanner-container {
    @include mix.Container-Mobile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroBanner-content {
    text-align: center;
    margin-top: 40px;

    .heroBanner-title {
      font-size: 40px;
      font-weight: bold;
      line-height: 40px;
      color: $white;
      span {
        text-decoration: underline $green 4px solid;
      }
    }

    .heroBanner-subtitle {
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
      margin-top: 24px;
      margin-bottom: 24px;

      color: $grey;
    }

    .heroBanner-button {
      margin-top: 2rem;
    }
  }
}

.heroBanner-pattern1 {
  width: 129px;
  height: 129px;

  top: 253px;
  right: -81px;
}

.heroBanner-pattern2 {
  width: 530px;
  height: 129px;

  top: 32px;
  left: -358px;
  z-index: -1;
}
