@use "../../../assets/sass/var" as *;
@use "../../../assets/sass/mixin" as mix;

.heroBanner-section {
  width: 100%;

  .heroBanner-container {
    @include mix.Container-Mobile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroBanner-content {
    text-align: center;
    margin-top: 40px;
    max-width: 445px;

    .heroBanner-title {
      font-size: 40px;
      font-weight: bold;
      line-height: 40px;
      color: $white;
      span {
        text-decoration: underline $green 4px solid;
      }

      .break2{
        display: none;
      }
    }

    .heroBanner-subtitle {
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
      margin-top: 24px;
      margin-bottom: 24px;

      color: $grey;
    }

    .heroBanner-button {
      margin-top: 2rem;
    }
  }
}

.heroBanner-pattern1 {
  width: 129px;
  height: 129px;

  top: 253px;
  right: -81px;
}

.heroBanner-pattern2 {
  width: 530px;
  height: 129px;

  top: 32px;
  left: -358px;
  z-index: -1;
}

@include mix.tablet {
  .heroBanner-section {
    .heroBanner-container {
      @include mix.Container-Tablet;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;

      margin-top: 0;
      height:449px

    }

    .hero_image {
      order: 2;
      position:absolute;
      top: -151px;
      right: -70px;
      z-index: -1;
    }
    .heroBanner-content {
      order: 1;

    margin-top: 0;
      text-align: left;

      .heroBanner-title {
        font-size: 72px;
        line-height: 72px;

        .break1 {
          display: none;
        }

        .break2{
          display: block;
        }

      }
    }
  }

  .heroBanner-pattern1 {
    width: 129px;
    height: 129px;
    top: auto;
    left: auto;
    bottom: 0;
    right: -90.5px;
  }

  .heroBanner-pattern2 {
    width: 530px;
    height: 129px;

    top: 25px;
    left: -358px;
    z-index: -1;
  }
}
