<section class="heroBanner-section">
  <div class="heroBanner-container">
    <img [src]="heroBannerSrc" alt="hero" class="hero_image" />
    <div class="heroBanner-content">
      <h1 class="heroBanner-title">Nice to <br class="break2" />meet you! <br class="break1"/>
      I'm <span>Matheus</span></h1>
      <p class="heroBanner-subtitle">
        Based in BR, I'm full-stack developer with a passion for building beautiful and functional websites.
      </p>
      <!-- chamar botão aqui -->
      <app-button [buttonText]="buttonText" [link]="buttonLink" elementRef="form_contact" />
      <img [src]="pattern1Src"  alt="heroBanner-pattern1" class="pattern heroBanner-pattern1" />
      <img [src]="pattern2Src"  alt="pattern2" class="pattern heroBanner-pattern2" />
    </div>
  </div>
</section>
