@use "../../../assets/sass/var" as *;
@use "../../../assets/sass/mixin" as mix;

.button {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;

  color: $white;
  background-color: transparent;
  border-bottom: 2px solid $green;
  padding-bottom: 10px;
  text-transform: uppercase;
  transform: translate(-50% -50%);

  &:hover {
    color: $green;
    border-bottom: 2px solid $green;
  }
}

.link {
  margin-top: 0;
}
