@use './var' as *;

@font-face {
  font-family: 'space-grotesk';
  src: url('../font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  font-size: 62.5%;
  height: 100vh;
  overflow-x: hidden;
}
body {
  font-family: 'space-grotesk', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: $black;
  height: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

.pattern{
  position: absolute;
}
